/* card component */
.custom-card {
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .custom-card:hover {
    background-color: #fff;
  }
  
  .custom-card.selected {
    background-color: #D5C6E0;
  }
  
  .card-title {
    margin-left: 8px;
  }
  
  .more-icon {
    font-size: 16px;
  }

  .suffix-text {
    font-size: 12px;
  }

  .card-paragraph {
    margin-top: 12px;
    font-size: 12px;
    color: #262626;
  }

  /* Calendar component */

.ant-calendar {
    background-color: #967aa1;
  }
  
  .ant-calendar-header {
    background-color: #967aa1;
    color: #fff;
  }
  
  .ant-calendar-date {
    position: relative;
  }
  
  .ant-calendar-date.ant-calendar-date-selected,
  .ant-calendar-date.ant-calendar-date-cell {
    color: #000;
  }
  
  .ant-calendar-date-event {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #192A51;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #192A51;
    color: #fff;
  }
  