/* Reusable card */
.custom-card {
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .custom-card:hover {
    background-color: #fff;
  }
  
  .custom-card.selected {
    background-color: #D5C6E0;
  }
  
  .card-title {
    margin-left: 8px;
  }
  
  .more-icon {
    font-size: 16px;
  }

  .suffix-text {
    font-size: 12px;
  }

  .card-paragraph {
    margin-top: 12px;
    font-size: 12px;
    color: #262626;
  }